HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!*/src/main/*/target/
!*/src/test/*/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!*/src/main/*/build/
!*/src/test/*/build/

### VS Code ###
.vscode/


### please don't push db all the time, if you want to explicitly push it then comment out below line
### and later after push uncomment below line
src/main/resources/earth_db.mv.db

local-setup/pgadmin/
local-setup/postgres/
/data/

*.DS_Store/